/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header Start*/
	header{
		padding: 5px 0;
	}
	.logo{
		width: 170px;
	}
	.menu ul li a{
		padding: 0 5px 5px !important;
	}
	.btn_menu{
		margin-left: 0;
	}
	/*Banner Start*/
	.banner{
			padding-bottom: 60px;
		}
	 .b_text{
	 	text-align: center;
	 }
	 .b_h1{
	 	margin: 10px 0 20px;
	 	font-size: 35px;
	 	line-height: 50px;
	 }
	 .b_p2{
	 	margin: 0;
	 	line-height: 30px;
	 }
	 .b_img{
	 	    margin:0 0 30px;
	 }

	/*Banner End*/
		/**Feature Start*/
	.c_padding{
		padding: 60px;
	}
	.f_content{
	margin: 30px 0 0;
	}
	/**Feature End*/

	/*Course Start*/
	.cm_h1{
		font-size: 30px;
	}
	.c_content{
		margin: 30px 0px 0;
		padding: 20px 15px 20px;
	}
	.c_icon{
		width: 20px;
	}
	.c_text{
		font-size: 7px;
		font-weight: 400;
	}
	/*Course End*/
		/*Testimony Start*/
	.testimony{
		padding-bottom: 60px;
	}
	.t_item{
		margin-top: 30px;
	}
	.t_img{
		padding: 0 50px 20px;
	}
	.t_text{
		text-align: center;
	}
	/*Testimony End*/

	/*Footer Top Start*/
	.footer_top{
		text-align: center;
		padding: 55px 0 20px;
	}
	
	.ft_details{
		margin-bottom: 35px;
		padding-right: 0;
	}
	.ft_links{
		margin-bottom: 35px;
	}
	/*Footer Top End*/
 
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header Start*/
	header{
		padding: 5px 0;
	}
	.logo{
		width: 180px;
	}
	.menu ul li a{
		padding: 0 5px 5px !important;
	}
	.btn_menu{
		margin-left: 0;
	}
		/*Banner Start*/
		.banner{
			padding-bottom: 60px;
		}
	 .b_text{
	 	text-align: center;
	 }
	 .b_h1{
	 	margin: 10px 70px 20px;
	 	font-size: 35px;
	 	line-height: 50px;
	 }
	 .b_p2{
	 	margin: 0 30px;
	 	line-height: 30px;
	 }
	 .b_img{
	 	    margin:0 50px 30px;
	 }

	/*Banner End*/

	/**Feature Start*/
	.c_padding{
		padding: 60px;
	}
	.f_content{
	margin: 30px 0 0;
	}
	/**Feature End*/

	/*Course Start*/
	.cm_h1{
		font-size: 30px;
	}
	.c_content{
		margin: 30px 50px 0;
	}
	/*Testimony Start*/
	.testimony{
		padding-bottom: 60px;
	}
	.t_item{
		margin-top: 30px;
	}
	.t_img{
		padding: 0 120px 20px;
	}
	.t_text{
		text-align: center;
	}
	/*Testimony End*/

	/*Footer Top Start*/
	.footer_top{
		text-align: center;
	}
	.ft_details{
		margin-bottom: 45px;
		padding-right: 70px;
		padding-left: 70px;
	}

	/*Footer Top End*/
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header Start*/
	header{
		padding: 10px 0;
	}
	.menu ul li a{
		padding: 0 5px 5px !important;
	}
	.btn_menu{
		margin-left: 0;
	}
		
	/*Banner Start*/
	 .b_text{
	 	text-align: center;
	 }
	 .b_h1{
	 	margin: 10px 150px 20px;
	 	font-size: 40px;
	 	line-height: 60px;
	 }
	 .b_p2{
	 	margin: 0 110px;
	 	line-height: 30px;
	 }
	 .b_img{
	 	 margin:0 50px 30px;
	 }

	/*Banner End*/

	/**Feature Start*/
	.c_padding{
		padding: 80px;
	}
	.f_content{
	margin: 40px 0 0;
	}

	/*Course Start*/
	.cm_h1{
		font-size: 30px;
	}
	.c_content{
		margin: 40px 100px 0;
	}
		/*Course End*/

	/*Testimony Start*/
	.testimony{
		padding-bottom: 80px;
	}
	.t_item{
		margin-top: 40px;
	}

	/*Testimony End*/

	/*Footer Top Start*/
	.footer_top{
		text-align: center;
	}
	.ft_details{
		margin-bottom: 45px;
		padding-right: 80px;
		padding-left: 80px;
	}
	/*Footer Top End*/
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	/*Banner Start*/
	.b_h1{
		margin: 10px 50px 20px 0;
	}
	/*Banner End*/

	/*Course Start*/
	.c_icon{
		width: 20px;
	}
	.c_text{
		font-size: 15px;
		font-weight: 400;
	}
	.lii:not(:last-child) {
	margin-right: -1px;
}
	/*Course End*/
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*Banner Start*/
	.b_h1{
		margin: 10px 45px 20px 0;
	}
	/*Banner End*/
 }

/* Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
/*Footer Top Start*/
.ft_details{
   padding-right: 130px;
}
 }
